{% macro render_level(data) %}
    {% import _self as self %}
    <ul class="">
    {% for field, value in data%}
        <li>
            <strong>{{ field }}:</strong>&nbsp;
            {% if is_string(value) %}
                {{ value|nl2br|raw }}
            {% elseif value is iterable %}
                {{ self.render_level(value) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}"
    objectId="{{ admin.id(object) }}"
    width="100%"
    style="word-break: break-all">
    {% block field %}
        {% import _self as self %}
        {{ self.render_level(value) }}
    {% endblock %}
</td>
